<main>
    <h1>Locations</h1>

    <div id="browse">
        <table id="locations-table" border="1" cellpadding="5">
          <thead>
              {{!-- For just the first row, we print each key of the row object as a header cell so we
              know what each column means when the page renders --}}
              <tr>
                <th></th>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
              </tr>
          </thead>
          <tbody>
              {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
              {{#each data}}
              <tr>
                  <td><a href="#" onclick="deleteLocation('this.locationID')">Delete</a></td>
                  <td>{{this.locationID}}</td>
                  <td>{{this.city}}</td>
                  <td>{{this.state}}</td>
                  <td>{{this.country}}</td>
              </tr>
              {{/each}}
          </tbody>
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <p>&nbsp;</p>

<div id="insert" style="display: block">
    <form id="add-location-form" method="POST" action="/add-location-form">
        <legend><strong>Add Location</strong></legend>
          <fieldset class="fields">
            <label> City </label> <input type="text" name="city" id="input-city">
            <label> State </label> <input type="text" name="state" id="input-state">
            <label> Country </label> <input type="text" name="country" id="input-country">
          </fieldset>
          <input class="btn" type="submit" id="addLocation" value="Add a Location">
          <input class="btn" type="button" value="Cancel">
    </form> <!--add new location-->
</div><!-- insert -->

<p>&nbsp;</p>
<div id="update" style="display: block">
  <form id="updateLocation">
      <legend><strong>Update Location</strong></legend>
          <fieldset class="fields">
            <label> City </label> <input type="text" name="city">
            <label> State </label> <input type="text"  name="state">
            <label> Country </label> <input type="text" name="country">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSaveLocation" value="Save Update Location">
          <input class="btn" type="button" value="Cancel" >
  </form> 
</div><!-- update -->


</main>