{{!-- /*
 * Citation: Citation is from node.js starter code
 * Date: 02/28/2024
 * Adapted from: Github page
 * Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 */  --}}
{{>header}}
{{>navbar}}
<main>
    <h1>Restaurant Cuisines</h1>

    <div id="browse">
        <table id="restaurantCuisines-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>Restaurant</th>
                    <th>Cuisine</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tf>
                    <td>{{this.restaurantID}}</td>
                    <td>{{this.cuisineID}}</td>
                    <td><button onclick="updateRestaurantCusine({{this.restaurantID}}, {{this.cuisineID}})">Edit</button></td>
                    <td><button onclick="deleteRestaurantCusine({{this.restaurantID}}, {{this.cuisineID}})">Delete</button></td>
                </tf>
                {{/each}}
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <p>&nbsp;</p>

    <div id="insert" style="display: block">
        <form id="add-restaurantCuisine-form" method="POST" action="/add-restaurantCuisine-form">
            <legend><strong>Add Restaurant Cuisine</strong></legend>
            <fieldset class="fields">
                
                <label> Restaurant </label> 
                <select id="select-restaurant-input">
                    <option>Select a Restaurant</option>
                    {{#each data}}
                    <option data-restaurant="{{this.restaurantID}}">{{this.restaurant}}</option>
                    {{/each}}
                </select>

                <label> Cuisine </label> 
                <select id="select-cuisine-input">
                    <option>Select a Cuisine</option>
                    {{#each data}}
                    <option data-cuisine="{{this.cuisineID}}">{{this.cuisine}}</option>
                    {{/each}}
                </select>
            </fieldset>
            <input class="btn" type="submit" id="addRestaurantCuisine" value="Add a Restaurant Cuisine">
            <input class="btn" type="button" value="Cancel">
        </form> <!--add new Restaurant Cuisine-->
    </div><!-- insert -->

    <p>&nbsp;</p>
    <div id="update" style="display: block">
    <form id="updateRestaurantCuisine">
        <legend><strong>Update Restaurant Cuisine</strong></legend>
            <fieldset class="fields">
                <label> Type </label> <input type="text" name="type">
        </fieldset>
        <input class="btn" type="submit" id="UpdateSaveRestaurantCuisine" value="Save Update Restauarant Cuisine">
            <input class="btn" type="button" value="Cancel" >
    </form> 
    </div><!-- update -->

</main>