{{!-- /*
* Citation: Citation is from node.js starter code. Citation was used to set up our page
* Date: 03/06/2024
* Adapted from: Github page
* Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
*/  --}}
{{>header}}
{{>navbar}}


<main>
	<h1>Restaurant Chains</h1>
	<div id="browse">
		<table id="chains-table" border="1" cellpadding="5">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
				<tr data-value="{{this.restaurantChainID}}">
					<td>{{this.restaurantChainID}}</td>
					<td>{{this.name}}</td>
					<td><button class="edit-button-chain" data-chainID="{{this.restaurantChainID}}" data-name="{{this.name}}">Edit</button></td>
					<td><button onclick="deleteChains({{this.restaurantChainID}})">Delete</button></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<p>&nbsp;</p>

	</div> <!-- browse -->
	<p>&nbsp;</p>

	<div id="insert" style="display: block">
		<form id="add-chain-form" method="POST" action="/add-chain-form">
			<legend><strong>Add Restaurant Chain</strong></legend>
			<fieldset class="fields">
				<label> Restaurant Chain Name </label> 
				<input type="text" name="name" id="input-chain">
			</fieldset>

			<input class="btn" type="submit" id="addRestaurantChain" value="Add a Restaurant Chain">
			<input class="btn" type="button" value="Cancel">
		</form> <!--add new restaurantChain-->
	</div><!-- insert -->

	<p>&nbsp;</p>


</main>

{{>restaurantChainModal}}