{{!-- /*
 * Citation: Citation is from node.js starter code. Citation was used to set up our page
 * Date: 02/28/2024
 * Adapted from: Github page
 * Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 */  --}}
{{>header}}
{{>navbar}}
<main>
    <h1>Restaurant Cuisines</h1>

    <div id="browse">
        <table id="restaurantCuisines-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>Restaurant</th>
                    <th>Cuisine</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr data-valueRestaurant="{{this.restaurantID}}" data-valueCuisineType="{{this.cuisineTypeID}}">
                    <td>({{this.restaurantID}}) {{this.restaurantName}}</td>
                    <td>({{this.cuisineTypeID}}) {{this.type}}</td>
					<td><button class="edit-button-rc" data-restaurantID="{{this.restaurantID}}" data-restaurantName="{{this.restaurantName}}" data-cuisineID="{{this.cuisineTypeID}}" data-type="{{this.type}}">Edit</button></td>
                    <td><button onclick="deleteRestaurantCuisine({{this.restaurantID}}, {{this.cuisineTypeID}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <p>&nbsp;</p>

    <div id="insert" style="display: block">
        <form id="add-restaurantCuisine-form" method="POST" action="/add-restaurantCuisine-form">
            <legend><strong>Add Restaurant Cuisine</strong></legend>
            <fieldset class="fields">
                
                <label> Restaurant </label> 
                <select name="restaurantName" id="select-restaurant-input">
                    <option>Select a Restaurant</option>
                    {{#each restaurantCuisinesDropdownData.restaurantName}}
                    <option data-restaurant="{{this.restaurantID}}">{{this.restaurantName}}</option>
                    {{/each}}
                </select>
                {{!-- <input type="hidden" name="restaurantName" id="insert-restaurant"> --}}

                <label> Cuisine </label> 
                <select name="type" id="select-cuisine-input">
                    <option>Select a Cuisine</option>
                    {{#each restaurantCuisinesDropdownData.cuisineTypeName}}
                    <option data-cuisine="{{this.cuisineTypeID}}">{{this.type}}</option>
                    {{/each}}
                </select>
                {{!-- <input type="hidden" name="type" id="insert-type"> --}}

            </fieldset>
            <input class="btn" type="submit" id="addRestaurantCuisine" value="Add a Restaurant Cuisine">
            <input class="btn" type="button" value="Cancel">
        </form> <!--add new Restaurant Cuisine-->
    </div><!-- insert -->

    <p>&nbsp;</p>


</main>

{{>restaurantCuisineModal}}
