{{!-- /*
 * Citation: Citation is from node.js starter code. Citation was used to set up our page
 * Date: 03/06/2024
 * Adapted from: Github page
 * Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 */  --}}
{{>header}}
{{>navbar}}

<main>
  <h1>Reviews</h1>

  <div id="browse">
    <table id="reviews-table" border="1" cellpadding="5">
      <thead>
        <tr>
          <th>ID</th>
          <th>Restaurant</th>
          <th>User</th>
          <th>Review</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr data-value="{{this.reviewID}}">
          <td>{{this.reviewID}}</td>
          {{!-- Replaced restaurantID w/ restaurantName; fetched from app.js --}}
          <td>{{this.restaurantName}}</td>
          {{!-- Replaced userID w/ userName; fetched from app.js --}}
          <td>{{this.userName}}</td>
          <td>{{this.review}}</td>
          <td><button onclick="updateReview(`{{this.reviewID}}`, `{{this.restaurantName}}`, `{{this.userName}}`, `{{this.review}}`)">Edit</button></td>
          <td><button onclick="deleteReview({{this.reviewID}})">Delete</button></td>
        </tr>
        {{/each}}
      </tbody>
      <p>&nbsp;</p>
    </table>

  </div> <!-- browse -->
  <p>&nbsp;</p>

  <div id="insert" style="display: block">
      <form id="add-review-form" method="POST" action="/add-review-form">
          <legend><strong>Add Review</strong></legend>
            <fieldset class="fields">
              <label> Restaurant </label> 
              <select id="select-restaurant">
                <option>Select a Restaurant</option>
                {{#each dropdownData.restaurantName}}
                <option data-restaurant="{{this.restaurantName}}">{{this.restaurantName}}</option>
                {{/each}}
              </select>
              <input type="hidden" name="restaurantName" id="input-restaurant">
              <label> User</label> 
                <select id="select-user">
                  <option>Select a User</option>
                  {{#each dropdownData.fullName}}
                  <option data-user="{{this.userName}}">{{this.userName}}</option>
                  {{/each}}
                </select>
                <input type="hidden" name="userName" id="input-user">
              <label> Review </label> <input type="text" name="review" id="input-review">
            </fieldset>
            <input class="btn" type="submit" id="addReview" value="Add a Review">
            <input class="btn" type="button" value="Cancel">
      </form> <!--add new review-->
      <script>
        // Facilitates passing data because post method can't detect data from select (dropdown)
        // Hidden inputs will hold needed information from the selected option's attributes for later use

        let addUser = document.querySelector('#select-user')
        addUser.addEventListener("change", function(e){
          let selectedOption = addUser.options[addUser.selectedIndex]

          document.getElementById("input-user").value = selectedOption.getAttribute('data-user')
        })

        let addRestaurant = document.querySelector('#select-restaurant')
        addRestaurant.addEventListener("change", function(e){
          let selectedOption = addRestaurant.options[addRestaurant.selectedIndex]

          document.getElementById("input-restaurant").value = selectedOption.getAttribute('data-restaurant')
        })    
      </script>
  </div><!-- insert -->
  
  <p>&nbsp;</p>

  <style>
    input {
    width: auto; /* Set initial width to auto */
    min-width: 50px; /* Set minimum width to prevent inputs from collapsing */
  }
  </style>

  </main>

  {{>reviewModal}}