{{!-- /*
 * Citation: Citation is from node.js starter code
 * Date: 03/06/2024
 * Adapted from: Github page
 * Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 */  --}}
{{>header}}
{{>navbar}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<main>
  <h1>Reviews</h1>

  <div id="browse">
    <table id="reviews-table" border="1" cellpadding="5">
      <thead>
        <tr>
          <th>ID</th>
          <th>Restaurant</th>
          <th>User</th>
          <th>Review</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr data-value="{{this.reviewID}}">
          <td>{{this.reviewID}}</td>
          {{!-- Replaced restaurantID w/ restaurantName; fetched from app.js --}}
          <td>{{this.restaurantName}}</td>
          {{!-- Replaced userID w/ userName; fetched from app.js --}}
          <td>{{this.userName}}</td>
          <td>{{this.review}}</td>
          <td><button onclick="deleteReview({{this.reviewID}})">Delete</button></td>
        </tr>
        {{/each}}
      </tbody>
      <p>&nbsp;</p>
    </table>
    {{!-- So the relative path to js file is found, but not found  --}}
    {{!-- <script src="../../static/deleteReview.js"></script> --}}
    <script>
      function deleteReview(reviewID)
      {
        console.log("deleteReview.js is connected!");

        let link = '/delete-review';

        // Put our data we want to send in a javascript object
        let data = {
            reviewID: reviewID
        };

        $.ajax(
        {
            url: link,
            type: 'DELETE',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function(result)
            {
                deleteRow(reviewID)
            } 
        });
      }

      function deleteRow(reviewID)
      {
          let table = document.getElementById("reviews-table");
          for (let i = 0, row; row = table.rows[i]; i++) 
          {
            // iterate through rows
            // rows would be accessed using the "row" variable assigned in the for loop
            if (table.rows[i].getAttribute("data-value") == reviewID) 
            {
                  table.deleteRow(i);
                  break;
            }
          }
      }
    </script>
  </div> <!-- browse -->
  <p>&nbsp;</p>

  <div id="insert" style="display: block">
      <form id="add-review-form" method="POST" action="/add-review-form">
          <legend><strong>Add Review</strong></legend>
            <fieldset class="fields">
              <label> Restaurant </label> 
              <select id="select-restaurant">
                <option>Select a Restaurant</option>
                {{#each dropdownData.restaurantName}}
                <option data-restaurant="{{this.restaurantName}}">{{this.restaurantName}}</option>
                {{/each}}
              </select>
              <input type="hidden" name="restaurantName" id="input-restaurant">
              <label> User</label> 
                <select id="select-user">
                  <option>Select a User</option>
                  {{#each dropdownData.fullName}}
                  <option data-user="{{this.userName}}">{{this.userName}}</option>
                  {{/each}}
                </select>
                <input type="hidden" name="userName" id="input-user">
              <label> Review </label> <input type="text" name="review" id="input-review">
            </fieldset>
            <input class="btn" type="submit" id="addReview" value="Add a Review">
            <input class="btn" type="button" value="Cancel">
      </form> <!--add new review-->
      <script>
        // Facilitates passing data because post method can't detect data from select (dropdown)
        // Hidden inputs will hold needed information from the selected option's attributes for later use

        let addUser = document.querySelector('#select-user')
        addUser.addEventListener("change", function(e){
          let selectedOption = addUser.options[addUser.selectedIndex]

          document.getElementById("input-user").value = selectedOption.getAttribute('data-user')
        })

        let addRestaurant = document.querySelector('#select-restaurant')
        addRestaurant.addEventListener("change", function(e){
          let selectedOption = addRestaurant.options[addRestaurant.selectedIndex]

          document.getElementById("input-restaurant").value = selectedOption.getAttribute('data-restaurant')
        })    
      </script>
  </div><!-- insert -->
  
  <p>&nbsp;</p>
      <div id="update" style="display: block">
    <form id="update-review-form" method="POST" action="/update-review-form">
        <legend><strong>Update Review</strong></legend>

            <fieldset class="fields">
              <label> Review Label</label> 
              <select id="select-update-review">
                <option>Select a Review</option>
                {{#each data}}
                <option data-reviewID="{{this.reviewID}}"
                        data-restaurant="{{this.restaurantName}}"
                        data-userName="{{this.userName}}"
                        data-review="{{this.review}}">
                    {{this.restaurantName}}, {{this.userName}}
                </option>
                {{/each}}
              </select>
              <input type="hidden" name="restaurantName" id="update-restaurant">
              <input type="hidden" name="userName" id="update-user">
              <label> Review Message</label> <textarea name="review" id="update-review"></textarea>
              <input type="hidden" name="reviewID" id="update-reviewID">
            </fieldset>
           
      <input class="btn" type="submit" id="UpdateSaveReview" value="Save Update Review">
      <input class="btn" type="button" value="Cancel" >
    </form> 
  </div><!-- update -->
  <p>&nbsp;</p>

  <script>
    let selectElement = document.querySelector('#select-update-review');

      selectElement.addEventListener('change', function(e) {
        let selectedOption = selectElement.options[selectElement.selectedIndex];
      
        document.getElementById("update-restaurant").value = selectedOption.getAttribute('data-restaurant')
        document.getElementById("update-user").value = selectedOption.getAttribute('data-userName')
        document.getElementById("update-review").value = selectedOption.getAttribute('data-review')
        document.getElementById("update-reviewID").value = selectedOption.getAttribute('data-reviewID')

      }

    );

  </script>

  <style>
    input {
    width: auto; /* Set initial width to auto */
    min-width: 50px; /* Set minimum width to prevent inputs from collapsing */
  }
  </style>

  </main>