{{!-- /*
 * Citation: Citation is from node.js starter code
 * Date: 02/28/2024
 * Adapted from: Github page
 * Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 */  --}}

{{>header}}
{{>navbar}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<main>
    <h1>Users</h1>

    <div id="browse">
      <table id="users-table" border="1" cellpadding="5">
        <thead>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
              {{!-- {{#each data.[0]}}
              <th>
                  {{@key}}
              </th>
              {{/each}} --}}

            {{!-- UPDATE: Hard coding column names to be consistent. Try to figure out handlebars things we were trying earlier --}}
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Password</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{!-- For each row, print the userID, username, email, password, fName, and lName, in order --}}
            {{#each data}}
            <tr data-value="{{this.userID}}">
                <td>{{this.userID}}</td>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this.password}}</td>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                <td><button onclick="deleteUser({{this.userID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
        <p>&nbsp;</p>
      </table>
      <script src="./static/deleteUser.js"></script>

    </div> <!-- browse -->
    <p>&nbsp;</p>

<div id="insert" style="display: block">
    <form id="add-user-form" method="POST" action="/add-user-form">
        <legend><strong>Addd User</strong></legend>
          <fieldset class="fields">
            <label> Username </label> <input type="text" name="username" id="input-username">
            <label> Email </label> <input type="text" name="email" id="input-email">
            <label> Password </label> <input type="text" name="password" id="input-password">
            <label> First Name </label> <input type="text" name="fName" id="input-fName">
            <label> Last Name </label> <input type="text" name="lName" id="input-lName">
          </fieldset>
          <input class="btn" type="submit" id="addUser" value="Add User">
          <input class="btn" type="button" value="Cancel">
    </form> <!--add new user-->
</div><!-- insert -->

<p>&nbsp;</p>
<div id="update" style="display: block">
  <form id="updateUser" method="POST" action="/update-user-form">
    <legend><strong>Update User</strong></legend>
    <fieldset class="fields">
      <label for="selectUser">User</label>
      <select id="selectUser">
        <option value="test">Select a Person</option>
        {{#each data}}
        <option data-userID="{{this.userID}}" 
                data-username="{{this.username}}" 
                data-email="{{this.email}}" 
                data-password="{{this.password}}" 
                data-fName="{{this.fName}}" 
                data-lName="{{this.lName}}">
          {{this.fName}} {{this.lName}}
        </option>
        {{/each}}
      </select>
      <input type="hidden" id="update-userID" name="userID">

      <label for="update-username">Username</label>
      <input type="text" id="update-username" name="username">
      <label for="update-email">Email</label>
      <input type="text" id="update-email" name="email">
      <label for="update-password">Password</label>
      <input type="text" id="update-password" name="password">
      <label for="update-fName">First Name</label> 
      <input type="text" id="update-fName" name="fName">
      <label for="update-lName">Last Name</label> 
      <input type="text" id="update-lName" name="lName">

    </fieldset>
    <input class="btn" type="submit" id="UpdateSaveUser" value="Save Update User">
    <input class="btn" type="button" value="Cancel" >
  </form> 

</div><!-- update -->
<p>&nbsp;</p>
{{!-- <script src="../../static/updateUser.js"></script> --}}

<script>
  // Get the select element
  let selectUser = document.querySelector('#selectUser');

  // Add event listener for change event
  selectUser.addEventListener("change", function (e) {
      // Get the selected option
      let selectedOption = selectUser.options[selectUser.selectedIndex];

      // You can then use this userID as needed
    
      console.log(selectedOption.getAttribute('data-userID'))
      // Populate the form fields with the data from the selected option
      document.getElementById("update-userID").value = selectedOption.getAttribute('data-userID');
      document.getElementById("update-fName").value = selectedOption.getAttribute('data-fName');
      document.getElementById("update-lName").value = selectedOption.getAttribute('data-lName');
      document.getElementById("update-email").value = selectedOption.getAttribute('data-email');
      document.getElementById("update-password").value = selectedOption.getAttribute('data-password');
      document.getElementById("update-username").value = selectedOption.getAttribute('data-username');
  });
</script>

</main>